body {
  padding: 80px;
  height: 100vh;
}

.page--template {
  height: calc(100vh - 160px);
}

.chat--list {
  overflow-y: scroll;
}

.chat--container {
  position: relative;
  height: calc(100vh - 208px);
  display: flex;
  flex-direction: column;
}

.messages--container {
  overflow-y: scroll;
  padding: 10px;
  height: calc(calc(100vh - 200px) - 80px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.message-sent {
  align-self: end;
  background-color: #0043ce;
}

.message-received {
  align-self: start;
  background-color: #6f6f6f;
}

.messages-inputs--container {
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.chat {
  display: flex;
  gap: 16px;
}

.chat-image--section > img {
  border-radius: 50%;
  height: 60px;
  border: 1px solid grey;
}

.chat-info--section {
  display: flex;
  flex-direction: column;
}

.unread-messages--icon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: green;
  color: white;
}
