# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
client/node_modules
node_modules
dist
dist-ssr
*.local

uploads/*
public/*
!uploads/default.png
client/node_modules
node_modules/*
writable/*
writable/db_data/*
!writable/db_data
!.gitignore
!.gitkeep
ssl/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

